/* ====== font import ====== */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}


/* ====== basic variables ====== */
$font-stack: 'Source Sans Pro', sans-serif;
$font-weight-standard: 300;


/* ====== color variables ====== */
$background-color: #50a3a2;
$primary-color: white;


/* ====== Elements ====== */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* ====== Main Elements ====== */

html {
  scroll-behavior: smooth;
}

body{
  font-family: $font-stack;
  color: $primary-color;
  font-weight: $font-weight-standard;
  background-image:linear-gradient(-45deg, #50a3a2 0%, #53e3a6 100%);
  margin: 0;
  display: grid;
  grid-template-columns: 20vh 1fr 20vh;
  grid-template-rows: 10vh 1fr;
  height: 100%;
  width: 100%;
}

* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 1.4em;
}

/* ====== HEADER ====== */

.header {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: nowrap;
  
}


.header-logo--img {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  cursor: pointer;
}

.header-border {
  border-style: hidden hidden solid hidden;
  width: 100%;
  color: #ffffff;
  grid-column: 1 / 4;
  grid-row: 1 / 2;

}

.header-profile {
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: nowrap;
}

.header-a--logout {
  flex-basis: 14%;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  cursor: pointer;
  color: #ffffff;

}


/* ====== NAVIGATION ====== */
nav {
  white-space: nowrap;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background: rgba(255, 255, 255, 0.37);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: rgba(255, 255, 255, 0.37);
}

.sidenav-a {
  position: relative;
}

.sidenav--img {
 width: 100%;
 height: auto;
 border-radius: 30px;
}

.sidenav-h1 {
  position: absolute;
    bottom: 50px;
    align-self: center;
    width: 100%;
    padding: 10px;
}



/* ====== SECTION AREA ====== */


main {

}
section {
  height: 100vh;
  padding: 2rem;
  margin: 0 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr;
}